[Desktop Entry]
Type=Application
Name=ChecklistApp
GenericName=Checklist Application
Comment=Gestión de correcciones y checklists
Exec=checklistapp %f
Icon=checklistapp
Categories=Utility;Office;
Terminal=false
StartupWMClass=ChecklistApp
